.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 492px;
  height: auto;
}

.title {
  width: 100%;
  height: 34px;
  font-family: var(--font-body);
  font-weight: 800;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #000;
}

.subtitle {
  width: 100%;
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.label {
  width: 100%;
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #040404;
}

.input {
  width: 100%;
  height: 56px;
  padding: 16px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1.5px solid #dfdfe0;
  border-radius: 6px;
  background: #fff;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  background: #19191c;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.buttonSecondary {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  background: #fff;
  color: #000;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background: #2b2b2f;
}

.buttonSecondary:hover {
  border: 1px solid #8e48ec;
  color: #8e48ec;
}

.button:disabled {
  background-color: #b3a1e6;
  cursor: not-allowed;
  opacity: 0.7;
}

.error {
  width: 100%;
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ff0000;
}

@media (max-width: 375px) {
  .title {
    font-size: 20px;
  }
  
  .subtitle {
    font-size: 14px;
  }

  .input {
    height: 48px;
    font-size: 14px;
  }

  .button, .buttonSecondary {
    height: 48px;
    font-size: 14px;
  }
}