.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-body);
  background: #8e48ec;
}

.leftSide {
  flex: 1;
  background: #8e48ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  height: 100%;
}

.rightSide {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-radius: 0;
}

.formContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 40px;
}

.mainImage {
  max-width: 100%;
  height: auto;
  max-height: 70vh;
  align-self: center;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    background-color: #8e48ec;
  }

  .leftSide {
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    justify-content: flex-start;
    padding-top: 60px;
  }

  .rightSide {
    flex: 1;
    width: 100%;
    background-color: #fff;
    border-radius: 24px 24px 0 0;
    padding: 32px 24px;
    align-items: flex-start;
    padding-top: 48px;
  }

  .mainImage {
    display: none;
  }

  .logo {
    margin-bottom: 0;
    max-width: 200px;
  }
}

@media (max-width: 375px) {
  .leftSide {
    height: 160px;
    padding-top: 40px;
  }

  .rightSide {
    border-radius: 16px 16px 0 0;
    padding: 24px 16px;
  }
}
