.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-body);
}

.leftSide {
  flex: 1;
  background: #8E48EC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 32px;
}

.rightSide {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-radius: 0 0 0 0;
}

.formContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftSide, .rightSide {
    flex: none;
    width: 100%;
    height: auto;
  }

  .mainImage {
    display: none;
  }

  .formContainer {
    padding: 24px 16px;
  }
}

@media (max-width: 375px) {
  .container {
    flex-direction: column;
  }

  .leftSide {
    padding: 50px;
  }

  .rightSide {
    border-radius: 10px 10px 0 0;
  }

  .logo {
    width: 250px;
    height: 37px;
  }

  .mainImage {
    display: none;
  }
}